server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dehydrator
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  data:
    redis:
      host: localhost
      port: 6379
  rabbitmq:
    host: 192.168.1.13
    port: 5672
    username: admin
    password: admin

minio:
  endpoint: http://192.168.1.13:9000
  access-key: admin
  secret-key: 12345678
  bucket: dehydrator

ai-service:
  url: http://localhost:8000
